/* GENERAL */

.ThemeHeader {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1rem;
}

.ThemeHeader .BackButton {
  position: absolute;
  left: 0;
  cursor: pointer;
}

.ThemeHeader .BackButton a {
  text-decoration: none;
  color: rgb(95, 95, 95);
  font-style: italic;
}

.hidden {
  display: none;
}

.activityIsLoading {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3rem;
  height: 3rem;
}

.activityRoot {
  width: 100%;
  height: 100%;
}

.activityWrapper {
  width: 100%;
  height: 100%;
  min-height: 86vh;
  margin: 3px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.activityWrapper .ActivityContent {
  width: 100%;
  max-width: 70vw;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .activityRoot {
    position: relative;
    display: contents;
  }
  .activityWrapper {
    padding: 8px;
    height: auto;
    width: auto;
  }
  .ActivityContent {
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}

/* Alert */
.correctanswer {
  position: absolute;
  top: 0;
}

.wronganswer {
  position: absolute;
  top: 0;
}

/* HEADER */

.activityWrapper .activityHeader {
  width: 66vh;
  font-family: Georgia, serif;
  font-size: 2rem;
  text-decoration: overline underline;
  text-decoration-color: #747373;
  color: rgb(8, 8, 8);
  display: flex;
  justify-content: center;
  border-radius: 10px;
  padding: 10px;
}

@media (max-width: 768px) {
  .activityWrapper .activityHeader {
    width: 100%;
  }
}

/* MEDIA */

.activityWrapper .mediaBox {
  margin: 3px;
  position: relative;
  height: 50vh;
}

.activityWrapper .mediaBox iframe {
  box-shadow: #1e291f 0px 0px 10px;
  width: 479px;
  height: 100%;
  border-radius: 10px;
}

.activityWrapper .mediaBox img {
  box-shadow: #1e291f 0px 0px 10px;
  min-width: 460px;
  height: 100%;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .activityWrapper .mediaBox {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .activityWrapper .mediaBox img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }

  .activityWrapper .mediaBox iframe {
    width: 100%;
    height: 37vh;
  }
}
/* TEXT */
.activityWrapper .activityText {
  position: relative;
  float: right;
  width: auto;
  max-width: 100%;
  min-width: 30vw;
  min-height: 30vh;
  margin: 3px;
  box-shadow: #1e291f 0px 0px 10px;
  color: black;
  /* border-radius: 10px; */
  padding: 10px;
  overflow-y: auto;
}

.activityWrapper .activityTextWithMedia {
  height: 50vh;
}

@media (max-width: 768px) {
  .activityWrapper .activityText {
    width: 100%;
    height: auto;
  }
}

/* Table */

.activityWrapper table {
  text-align: left;
  border-spacing: 0;
  border-collapse: collapse;
  background-color: rgb(192, 180, 180);
  color: rgb(0, 0, 0);
  min-width: 40vw;
  width: 100%;
}

.activityWrapper tr {
  display: table-row;
  vertical-align: inherit;
  unicode-bidi: isolate;
  border-color: inherit;
}

.activityWrapper th,
.activityWrapper td {
  padding: 8px;
  border: 1px solid#1e291f;
}

.activityWrapper th {
  background-color: #dfd1d1;
}

@media (max-width: 768px) {
  .activityWrapper table {
    height: auto;
    width: 100%;
  }
}

/* AUDIO */
.activityWrapper .AudioDiv {
  margin: 3px;
  left: 50%;
}

/* QUIZ */

.activityQuiz h6 {
  margin: 20px;
}

.activityWrapper .activityQuiz {
  position: relative;
  float: none;
  width: 100%;
  text-align: center;
}

.activityWrapper .quizOptions {
  position: relative;
  flex-direction: row;
  float: none;
}

.activityWrapper .quizOptions button {
  margin: 2px;
  width: auto;
  min-width: 200px;
}

/* MULTIOPTION */

.activityWrapper .multioption h6 {
  position: relative;
  float: none;
  width: 100%;
  text-align: center;
}

.activityWrapper .multioption button {
  margin: 2px;
  width: auto;
  min-width: 60px;
}

/* SPELLING */

.spelling input {
  border: 2px solid grey;
}

.spellingWord {
  font-size: 20px;
}

@keyframes wronganspell {
  0% {
    color: white;
  }
  20% {
    color: black;
  }
  40% {
    color: white;
  }
  60% {
    color: black;
  }
  80% {
    color: white;
  }
  100% {
    color: black;
  }
}

.inputhasmistake {
  animation-name: wronganspell;
  animation-duration: 1.5s;
  color: red;
  /* animation-iteration-count: infinite; */
  animation-timing-function: ease-in-out;
}

.blankspot {
  display: inline-block;
  width: 10px; /* Adjust width as needed */
}

.CharHolder {
  font-size: 40px;
  height: 1px;
  border: 0px;
}

/* SELECT IMAGE */
.figure {
  margin: 4px;
}

.figure img {
  cursor: pointer;
  border-radius: 20px;
}

.figure img:not(.selected):hover {
  translate: 0 -8px;
  box-shadow: 5px 5px 5px gray;
  transition: 100ms;
}

.figure .incorrectImage {
  box-shadow: 12px 5px 5px red;
  opacity: 0.5;
  cursor: default;
}

.figure .correctImage {
  width: 460px;
  box-shadow: 10px 5px 5px green;
  cursor: default;
}

/* PRONUNCIATION */

.sound-clips {
  background-color: rgb(239, 231, 231);
  border-radius: 10px;
}

.pronunciationAudios {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.record {
  margin: 2px;
  background-color: rgb(102, 49, 166);
  border-radius: 20px;
  width: 100px;
}

.record:hover {
  background-color: rgb(74, 29, 129);
}

.stop {
  margin: 2px;
  background-color: rgb(207, 3, 3);
  border-radius: 20px;
  width: 100px;
}

.stop:hover {
  background-color: rgb(129, 4, 4);
}

/* CONCENTRATION */
.concentration {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
}

.concentration > * {
  box-shadow: #267d63 0px 5px 15px;
  font-family: cursive;
  padding: 5px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: flex;
  width: 200px;
  height: 200px;
  margin: 3px;
}

@keyframes wrongguess {
  from {
    background-color: red;
  }
  to {
    background-color: white;
  }
}

.concentration .wrongGuess {
  animation-name: wrongguess;
  animation-duration: 3s;
}

.concentration .disabled {
  cursor: default;
  background-color: green;
  color: white;
  opacity: 0.5;
}

.concentration > *:not(.disabled):hover {
  box-shadow: #267d63 6px 6px 17px;
  transform: translate(-3px, -3px);
  transition: 0.1s;
}

.concentration :not(.disabled).selected {
  border: 4px solid #b50c8a;
}

.concentration > *:active {
  box-shadow: #267d63 0px 5px 15px;
  transform: translate(3px, 3px);
  transition: 0.1s;
}

/* FOOTER */
.activityFooter {
  position: fixed;
  right: 30px;
  bottom: 0;
}

.activityFooter button {
  width: 200px;
  height: 30px;
  background-color: rgb(83, 198, 139);
  /* opacity: 0.8; */
  color: rgb(0, 0, 0);
  box-shadow: #416444 0px 5px 15px;
  border: none;
  border-radius: 20px;
  margin: 30px;
}

.activityFooter button:hover {
  box-shadow: 2px 2px 2px rgb(15, 64, 44) inset;
  background-color: rgb(75, 181, 126);
}
