.errorAbsolute {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(60, 184, 65, 0.5);
}

.errorAbsolute h1 {
  font-size: 5rem;
}

.errorAbsolute h3 {
  font-size: 2rem;
}
